.icon-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: inline-block;
	padding: $space-2;
	border-radius: $border-radius;
	transition: background-color 150ms;
	transition-timing-function: ease-in-out;
	color: inherit;
}
.icon-button:hover {
	background-color: transparentize($color: $gray-950, $amount: 0.2);
}

.primary-button {
	position: relative;
	background-color: $gray-800;
	border: none;
	cursor: pointer;
	display: inline-block;
	padding: $space-0_5;
	margin: $-space-0_5;
	border-radius: calc($border-radius + $space-0_5);
	color: #fff;
	overflow: hidden;
	transition-timing-function: ease-in-out;
	transition-property: padding margin;
	transition-duration: 150ms;
	&::before {
		content: '';
		display: block;
		position: absolute;
		z-index: 1;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		aspect-ratio: 1;
		border-radius: inherit;
		background: $primary-gradient;

		opacity: 100%;

		animation: spin 4s linear infinite;
	}
	> div {
		font-weight: 600;
		background-color: $gray-800;
		padding: $space-2 $space-3;
		border-radius: $border-radius;
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		transition-timing-function: ease-in-out;
		transition: background-color 150ms;

		.icon {
			margin-left: $space-1;
			margin-right: $-space-1;
		}
	}
}
.primary-button:hover {
	padding: $space-1;
	margin: $-space-1;
	border-radius: calc($border-radius + $space-1);
	& > div {
		background-color: $gray-900;
	}
}
