// ----------------------------
// COLORS
// ----------------------------

// Primary Variables - TODO - replace with CSS var
$primary-50: #fffbeb;
$primary-100: #fef3c7;
$primary-200: #fde68a;
$primary-300: #fcd34d;
$primary-400: #fbbf24;
$primary-500: #f59e0b;
$primary-600: #d97706;
$primary-700: #b45309;
$primary-800: #92400e;
$primary-900: #78350f;
$primary-950: #451a03;

// Primary Default
$primary-default-50: #fffbeb;
$primary-default-100: #fef3c7;
$primary-default-200: #fde68a;
$primary-default-300: #fcd34d;
$primary-default-400: #fbbf24;
$primary-default-500: #f59e0b;
$primary-default-600: #d97706;
$primary-default-700: #b45309;
$primary-default-800: #92400e;
$primary-default-900: #78350f;
$primary-default-950: #451a03;

$primary-default-gradient-color-1: #ff6584;
$primary-default-gradient-color-2: $primary-default-500;
$primary-default-gradient-dark-color-1: #b30933;
$primary-default-gradient-dark-color-2: #b45309;

// Primary Cinder
$primary-cinder-50: #fef2f2;
$primary-cinder-100: #fee2e2;
$primary-cinder-200: #fecaca;
$primary-cinder-300: #fca5a5;
$primary-cinder-400: #f87171;
$primary-cinder-500: #ef4444;
$primary-cinder-600: #dc2626;
$primary-cinder-700: #b91c1c;
$primary-cinder-800: #991b1b;
$primary-cinder-900: #7f1d1d;
$primary-cinder-950: #450a0a;

$primary-cinder-gradient-color-1: #fda4af;
$primary-cinder-gradient-color-2: $primary-cinder-700;
$primary-cinder-gradient-dark-color-1: #9f1239;
$primary-cinder-gradient-dark-color-2: #7f1d1d;

// Primary Eidolon
$primary-eidolon-50: #fffbeb;
$primary-eidolon-100: #fef3c7;
$primary-eidolon-200: #fde68a;
$primary-eidolon-300: #fcd34d;
$primary-eidolon-400: #fbbf24;
$primary-eidolon-500: #f59e0b;
$primary-eidolon-600: #d97706;
$primary-eidolon-700: #b45309;
$primary-eidolon-800: #92400e;
$primary-eidolon-900: #78350f;
$primary-eidolon-950: #451a03;

$primary-eidolon-gradient-color-1: $primary-eidolon-300;
$primary-eidolon-gradient-color-2: #a16207;
$primary-eidolon-gradient-dark-color-1: $primary-eidolon-700;
$primary-eidolon-gradient-dark-color-2: #854d0e;

// Primary Hinterlands
$primary-hinterlands-50: #ecfdf5;
$primary-hinterlands-100: #d1fae5;
$primary-hinterlands-200: #a7f3d0;
$primary-hinterlands-300: #6ee7b7;
$primary-hinterlands-400: #34d399;
$primary-hinterlands-500: #10b981;
$primary-hinterlands-600: #059669;
$primary-hinterlands-700: #047857;
$primary-hinterlands-800: #065f46;
$primary-hinterlands-900: #064e3b;
$primary-hinterlands-950: #022c22;

$primary-hinterlands-gradient-color-1: #86efac;
$primary-hinterlands-gradient-color-2: $primary-hinterlands-700;
$primary-hinterlands-gradient-dark-color-1: #15803d;
$primary-hinterlands-gradient-dark-color-2: $primary-hinterlands-800;

// Primary Myriad
$primary-myriad-50: #f0f9ff;
$primary-myriad-100: #e0f2fe;
$primary-myriad-200: #bae6fd;
$primary-myriad-300: #7dd3fc;
$primary-myriad-400: #38bdf8;
$primary-myriad-500: #0ea5e9;
$primary-myriad-600: #0284c7;
$primary-myriad-700: #0369a1;
$primary-myriad-800: #075985;
$primary-myriad-900: #0c4a6e;
$primary-myriad-950: #082f49;

$primary-myriad-gradient-color-1: #22d3ee;
$primary-myriad-gradient-color-2: #6366f1;
$primary-myriad-gradient-dark-color-1: $primary-myriad-700;
$primary-myriad-gradient-dark-color-2: #3730a3;

// Primary Mystic
$primary-mystic-50: #f5f3ff;
$primary-mystic-100: #ede9fe;
$primary-mystic-200: #ddd6fe;
$primary-mystic-300: #c4b5fd;
$primary-mystic-400: #a78bfa;
$primary-mystic-500: #8b5cf6;
$primary-mystic-600: #7c3aed;
$primary-mystic-700: #6d28d9;
$primary-mystic-800: #5b21b6;
$primary-mystic-900: #4c1d95;
$primary-mystic-950: #2e1065;

$primary-mystic-gradient-color-1: #818cf8;
$primary-mystic-gradient-color-2: #7e22ce;
$primary-mystic-gradient-dark-color-1: #4338ca;
$primary-mystic-gradient-dark-color-2: #6b21a8;

// Gray
$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #0a101c;
$gray-950: #030712;

// Error
$error-50: #fef2f2;
$error-100: #fee2e2;
$error-200: #fecaca;
$error-300: #fca5a5;
$error-400: #f87171;
$error-500: #ef4444;
$error-600: #dc2626;
$error-700: #b91c1c;
$error-800: #991b1b;
$error-900: #7f1d1d;
$error-950: #450a0a;

// Warning
$warning-50: #fffbeb;
$warning-100: #fef3c7;
$warning-200: #fde68a;
$warning-300: #fcd34d;
$warning-400: #fbbf24;
$warning-500: #f59e0b;
$warning-600: #d97706;
$warning-700: #b45309;
$warning-800: #92400e;
$warning-900: #78350f;
$warning-950: #451a03;

// Success
$success-50: #f0fdf4;
$success-100: #dcfce7;
$success-200: #bbf7d0;
$success-300: #86efac;
$success-400: #4ade80;
$success-500: #22c55e;
$success-600: #16a34a;
$success-700: #15803d;
$success-800: #166534;
$success-900: #14532d;
$success-950: #052e16;

// Info
$info-50: #eff6ff;
$info-100: #dbeafe;
$info-200: #bfdbfe;
$info-300: #93c5fd;
$info-400: #60a5fa;
$info-500: #3b82f6;
$info-600: #2563eb;
$info-700: #1d4ed8;
$info-800: #1e40af;
$info-900: #1e3a8a;
$info-950: #172554;

// Background colors
$background-default: var(--background-default);
$background-inset: var(--background-inset);
$background-inset-alt: var(--background-inset-alt);
$background-hover: var(--background-hover);

// Border colors
$divider: var(--divider);

// Text colors
$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$text-tertiary: var(--text-tertiary);

// Disabled Colors
$background-disabled: var(--background-disabled);
$divider-disabled: var(--divider-disabled);
$text-disabled: var(--text-disabled);

// Gradients
$primary-gradient-color-1: var(--primary-gradient-color-1);
$primary-gradient-color-2: var(--primary-gradient-color-2);
$primary-gradient-dark-color-1: var(--primary-gradient-dark-color-1);
$primary-gradient-dark-color-2: var(--primary-gradient-dark-color-2);

$primary-gradient: radial-gradient(
	142% 91% at 111% 84%,
	$primary-gradient-color-1 20%,
	$primary-gradient-color-2 80%
);
$primary-gradient-dark: radial-gradient(
	183% 200% at 101% 70%,
	$primary-gradient-dark-color-2 5%,
	$primary-gradient-dark-color-1 100%
);
$primary-gradient-linear: linear-gradient(
	150deg,
	$primary-gradient-color-1 0%,
	$primary-gradient-color-2 100%
);
$danger-gradient-dark: radial-gradient(183% 200% at 101% 70%, $error-700 5%, $error-900 100%);

// ----------------------------
// SIZES
// ----------------------------

$space-0: 0px;
$space-px: 1px;
$space-0_5: 0.125rem;
$-space-0_5: -0.125rem;
$space-1: 0.25rem;
$-space-1: -0.25rem;
$space-1_5: 0.375rem;
$space-2: 0.5rem;
$-space-2: -0.5rem;
$space-2_5: 0.625rem;
$space-3: 0.75rem;
$-space-3: -0.75rem;
$space-3_5: 0.875rem;
$space-4: 1rem;
$-space-4: -1rem;
$space-4_5: 1.125rem;
$space-5: 1.25rem;
$space-6: 1.5rem;
$space-7: 1.75rem;
$space-8: 2rem;
$space-9: 2.25rem;
$space-10: 2.5rem;
$space-11: 2.75rem;
$space-12: 3rem;

$border-radius: $space-3;

// ----------------------------
// FONTS
// ----------------------------

$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;
$text-5xl: 3rem;

// ----------------------------
// BREAKPOINTS
// ----------------------------

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;
